body {
            text-align: center;
            font-family: 'Source Sans Pro', sans-serif;
            background-color: #222831;
            color: #222831;
        }
        a {
            color: #7289da;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        p {
            max-width: 400px;
            margin: 20px auto 0;
            line-height: 1.2;
            
        }
        
        .firstLink, .secondLink, .secondLinkSpan {
            background: #7289da;
            color: white;
            padding: 9px 20px;
            text-decoration: none;
            /*font-weight: 900;*/
            border: 4px solid #435186;
            display: inline-block;
        }
        .firstLink:hover, .secondLink:hover, .proceed:hover {
            background: #597cfc;
            border: 4px solid;
        }
        a.proceed {
            background: #7289da;
            color: white;
            padding: 10px 40px;
            text-decoration: none;
            font-weight: 900;
            font-size: 25px;
            border: 5px solid #435186;
        }
        .proceedWrapper {
            display: inline-block;
            margin-top: 50px;
        }
        .secondLinkSpan {
            opacity: 0.5;
            border-radius: 40px;
        }
        .hide {
            display: none;
        }
        h1{
            font-weight: 900;
            font-size: 25px;
        }
        .check {
            background: #53a629;
            color: #fff;
            padding: 5px 9px;
            border-radius: 20px;
            margin-right: 10px;
        }
        .dimmed {
            opacity: .3;
        }
        .opacity0 {
            opacity: 0;
        }
        a {
            transition: .3s all;
            border-radius: 40px;
        }
       
        #hero {
            background: rgb(37, 37, 37);
            padding: 50px;
            padding-bottom: 75px;
        }
        .theLinks {
            margin-left: -40px;
        }


        /*********  Startpage stuff       */

/* stop looking at my source */
